/* #contOne:hover{
    border: 5px solid rgb(94, 92, 92);
}

#stickBox{
  position: sticky;
  top: 10%;
  left: 68%;
}
#main{
    position: absolute;
  top: 5%;
  left: 20%;
}
#scrollBox{
    border: 2px solid black;
} */
